<div class='col-md-3'>
  <center>
    <div>
        <iframe scrolling="no" frameborder="0" src="//adbit.co/adspace.php?a=9J6PSH3D4835O" style="overflow:hidden;width:200px;height:200px;"></iframe>
    </div>
	</center>

  <h2>Our Rewards</h2>
  {% for payout in settings.payout.bracket %}
    <strong>{{ payout.amt }}</strong> DOGE ({{ payout.odds }}%)
  <br />  
  {% endfor %}
  <br />

  <center>
    <div>
        <iframe scrolling="no" frameborder="0" src="//adbit.co/adspace.php?a=82M0S125R2HKU" style="overflow:hidden;width:200px;height:200px;"></iframe>
    </div>
	</center>
</div>