<div class='col-md-3'>
  <h4>Earn More DOGE</h4>
  <p>
  	<a href='http://freedoge.co.in' target='_blank'>FreeDoge.co.in</a><br />
  </p>

  <center>
    <div>
        <iframe scrolling="no" frameborder="0" src="//adbit.co/adspace.php?a=HFBMV30S3Q36F" style="overflow:hidden;width:200px;height:200px;"></iframe>
    </div>
    <div>
        <a href="//adbit.co/?a=Advertise&b=View_Bid&c=HFBMV30S3Q36F" target="_blank">&#8657; Your Ad Here &#8657;</a>
    </div>
  </center>

  <h4>Buy & Sell DOGE</h4>
  <p>
  	<a href='http://www.cryptsy.com' target='_blank'>Cryptsy</a><br />
  	<a href='http://bleutrade.com' target='_blank'>Bleutrade</a><br />
  </p>
  
  <center>
    <div>
        <iframe scrolling="no" frameborder="0" src="//adbit.co/adspace.php?a=0D3EUSVAPGDAM" style="overflow:hidden;width:200px;height:200px;"></iframe>
    </div>
    <div>
        <a href="//adbit.co/?a=Advertise&b=View_Bid&c=0D3EUSVAPGDAM" target="_blank">&#8657; Your Ad Here &#8657;</a>
    </div>
  </center>

</div>