<div class='col-md-3'>
  <h4>Earn More DOGE</h4>
  <p>
  	<a href='http://freedoge.co.in' target='_blank'>Faucet Ref Link #1</a><br />
  	<a href='http://freedoge.co.in' target='_blank'>Faucet Ref Link #2</a><br />
  </p>
  <img src="http://dummyimage.com/250x250/000/fff&text=250+x+250+Ad+Placeholder+3" />
  <h4>Buy & Sell DOGE</h4>
  <p>
  	<a href='http://freedoge.co.in' target='_blank'>Other Referer Link #1</a><br />
  	<a href='http://freedoge.co.in' target='_blank'>Other Referer Link #2</a><br />
  </p>
  <img src="http://dummyimage.com/250x250/000/fff&text=250+x+250+Ad+Placeholder+4" />
</div>