{% extends '../views/layout.html' %}

{% block meta %}
	{% parent %}
{% endblock %}

{% block body %}
<div class='row-fluid'>
  <div class='col-md-12'>
    <h1>Refer & Earn!</h1>
    <div class="jumbotron">
      <p>We offer a <strong>{{settings.payout.referralPct}}% lifetime</strong> commision on all referrals!</p>
      <p>Your referral address: <a href="{{referralURL}}{{address|default('{Your Dogecoin Address}')}}">{{referralURL}}{{address|default('{Your Dogecoin Address}')}}</a></p>
    </div>

    <h2>Banners</h2>
    <div class="thumbnail">
      <h2>728x90</h2>
      <img src="http://images.bloquechain.com/DogeBloqueChain_728x90.jpg" alt="Doge.BloqueChain.com 728x90 Banner">
      <div class="caption">
        Image: <pre>http://images.bloquechain.com/DogeBloqueChain_728x90.jpg</pre>
        Link: <pre>&lt;a href=&quot;{{referralURL}}{{address|default('{Your Dogecoin Address}')}}&quot; &gt;&lt;img src=&quot;http://images.bloquechain.com/DogeBloqueChain_728x90.jpg&quot;/&gt;&lt;/a&gt;</pre>
      </div>
    </div>

    <div class="thumbnail">
      <h2>468x60</h2>
      <img src="http://images.bloquechain.com/DogeBloqueChain_468x60.jpg" alt="Doge.BloqueChain.com 468x60 Banner">
      <div class="caption">
        Image: <pre>http://images.bloquechain.com/DogeBloqueChain_468x60.jpg</pre>
        Link: <pre>&lt;a href=&quot;{{referralURL}}{{address|default('{Your Dogecoin Address}')}}&quot; &gt;&lt;img src=&quot;http://images.bloquechain.com/DogeBloqueChain_468x60.jpg&quot;/&gt;&lt;/a&gt;</pre>
      </div>
    </div>

  </div>  
</div>  
{% endblock %}


