  <center>
    <iframe src="{{ settings.ads.amazon.slots[1] }}" width="180" height="150" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;"></iframe>
	</center>

  <h2>Our Rewards</h2>
  {% for payout in settings.payout.bracket %}
    <strong>{{ payout.amt }}</strong> {{settings.site.coin.shortName}} ({{ payout.odds }}%)
  <br />  
  {% endfor %}
  <br />

  <center>
    <div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
	     style="display:inline-block;width:160px;height:600px"
	     data-ad-client="{{ settings.ads.google.publisher }}"
       data-ad-slot="{{ settings.ads.google.slots[1] }}"></ins>
      <script>
	(adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      
    </div>
  </center>
