<footer>
	<div class='row-fluid'>
		<p>Donations <strong>{{settings.site.donations}}</strong></p>
	</div>

	<div class='row-fluid'>
	  	<div class='col-md-1'>
	  		<p class="text-muted">
	  			<a href="/terms">Terms</a>
	  		</p>
	  	</div>
	  	<div class='col-md-10'>
		    <p class="text-muted"><a target="_blank" href="https://github.com/PalmerEk/node-faucet">node-faucet</a></p>
			</div>

			<div class='col-md-1'>
	  		<p class="text-muted">
	  			<a href="/privacy">Privacy</a>
	  		</p>
	  	</div>
	</div>
</footer>
