<header>
{% if address || tab != 'Faucet' %}
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="custom-navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">{{settings.site.name}}</div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {% if tab=='Faucet' %}class='active'{% endif %}><a href="/">Faucet</a></li>
            {% if settings.payout.referralPct > 0 && address %}
            <li {% if tab=='Refer' %}class='active'{% endif %}><a href="refer">Refer<i></i></a></li>
            {% endif %}
            <li {% if tab=='FAQ' %}class='active'{% endif %}><a href="faq">FAQ<i></i></a></li>

            {#
            <li><a href="yourStats">Your Stats<i></i></a></li>
            <li><a href="faucetStats">Faucet Stats<i></i></a></li>
            #}
        </ul>
        
        <p class="navbar-text navbar-right" style="padding-right: 30px;">{{address}}</p>      
      </div>
    </div>
  </div>
{% else %}
<div class='row-fluid'>
  <div class='col-md-12'>
    <center>
      <div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
         style="display:inline-block;width:970px;height:90px"
         data-ad-client="{{ settings.ads.google.publisher }}"
         data-ad-slot="{{ settings.ads.google.slots[0] }}"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </center>
  </div>  
</div>  
<div class='row-fluid'>
  <div class='col-md-12'>
    <center>
      <h1><a style='text-decoration: none; color: black;' href='{{settings.site.url}}'>{{settings.site.name}}</a></h1>
    </center>
  </div>
</div>
{% endif %}
</header>