  {% if settings.ads.faucets[settings.site.coin.shortName] %}
  <div class='well'>
    <h3>Earn More {{settings.site.coin.shortName}}<br/><img src='/img/{{settings.site.coin.shortName}}.png' height='32' width='32'></h3>
    <p>
      {% for faucet in settings.ads.faucets[settings.site.coin.shortName] %}
        <a href='{{faucet.url}}' target='_blank'>{{faucet.name}}</a><br />
      {% endfor %}    
    </p>
  </div>
  {% endif %}

  <center class="banner">
    <div>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
	   style="display:inline-block;width:300px;height:600px"
	   data-ad-client="{{ settings.ads.google.publisher }}"
    data-ad-slot="{{ settings.ads.google.slots[2] }}"></ins>
      <script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </center>

  {% if settings.ads.faucets %}
    {% for coin in settings.ads.faucets %}
      {% if loop.key != settings.site.coin.shortName %}
      <div class='well'>
        <h3>{{loop.key}} Faucets<br/><img src='/img/{{loop.key}}.png' height='32' width='32'></h3>
        <p>
          {% for faucet in coin %}
            <a href='{{faucet.url}}' target='_blank'>{{faucet.name}}</a><br />
          {% endfor %}    
        </p>
      </div>
      {% endif %}    
    {% endfor %}
  {% endif %}
